.viewer {
  overflow-y: auto;
  overflow-y: scroll;
  background: #ccc;
  height: calc(100vh - 100px);
  width: 100vw;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.pdf {
  overflow: auto;
  height: calc(100% - 2.5em);
}
