html,
body {
  margin: 0;
  padding: 0;
}

.viewer {
  background: #ccc;
  height: calc(100vh - 50px);
  width: calc(100vw - 10px);
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.pdf {
  overflow: auto;
  height: calc(100% - 50px);
}
